extends layout

block content
  head
    meta(charset='UTF-8')
    title Entry Form
  body
    div(class="container")
      h3 New Mentor Entry Form
      form(method='POST' action='/post-feedback')
        label
          | First Name
          input(type='text' name='firstName' required='' class='nameEntry')
        br
        br
        label
          | Last Name
          input(type='text' name='lastName' required='' class='nameEntry')
        br
        br
        label
          | Career Summary
          br
          textarea(name='careerSummary',rows=6,cols=50)
        br
        br
        label
          | Expertise
          br
          textarea(name='expertise',rows=5,cols=50)
        br
        br
        label
          | Experience
          br
          textarea(name='experience',rows=5,cols=50)
        br
        br
        label 
          | Languages 
          br
          textarea(name='languages', rows=2, cols=50)
        br
        br
        label
          | Education 
          br
          textarea(name='education', rows=2, cols=50)
        br
        br
        input(type='submit' value='Submit')
