extends layout

block content  
  section.showcase
    .container.grid 
      .showcase-text 
        h1 Welcome
        p To Team Full Stack's Demo App
  section.contact 
    .container.grid
      .contact-box1
        h3
        |CONTACT US 
        br
        |SCORE Association
        p
        |1165 Herndon Parkway
        br
        |Suite 100
        br
        |Herndon, VA 20170
      .contact-box2
        p
        |PHONE: (800) 643 0245
        br
        |TECHNICAL SUPPORT: help@score.org