<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Entry Form</title>
</head>
<body>
    <h3>New Mentor Entry Form</h3>
    <form method="POST" action="/post-feedback">
        <label>First Name :<input type="text" name="first-name" required></label>
        <br>
        <label>Last Name :<input type="text" name="last-name" required></label>
        <br>
		<label>Career Summary<br><textarea name="career-summary"></textarea></label>
        <br>
        <label>Expertise<br><textarea name="expertise"></textarea></label>
        <br>
		<label>Experience<br><textarea name="experience"></textarea></label>
        <br>
        <input type="submit" value="Submit">
    </form>
    <a href="/view-feedbacks">Return to Main Page</a>
</body>
</html>