extends layout

block content
    head
        meta(charset='UTF-8')
        title Search

    body
        div(class="container")
            h3 Enter a search query below:
            form(method='POST' action='/fuzzy-search')
                input(class="search-radio" type="radio", name="category_filter", value="language", checked=category=="language")
                | Language 
                input(class="search-radio" type="radio", name="category_filter", value="experience", checked=category=="experience")
                | Experience  
                input(class="search-radio" type="radio", name="category_filter", value="expertise", checked=category=="expertise")
                | Expertise 
                br
                br
                label
                    | Search
                    input(type='text' name='search-query' required='' class='nameEntry')