extends layout

block content
    head
        meta(charset='UTF-8')
        title Search
    body
        h3 Enter a search query below:
        form(method='POST' action='/fuzzy-search')
            label
                | Search
                input(type='text' name='search-query' required='' class='nameEntry')
            br
            br
        a(href='/') Return to Main Page